.loaderContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderImage {
  width: 60px;
  height: 60px;
  object-fit: contain;
} 